@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* actual css */
body {
    background: url('../images/bg-mobile.png') center/cover no-repeat;

}

main {
    width: 90vw;
    max-width: 450px;
}

.upload {
    border-radius: 15px 10rem 15px 15px;
}