@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* coolors */
:root {
    --gradient: linear-gradient(hsl(6, 100%, 80%),
            hsl(335, 100%, 65%));
    /* cl_gradientLeft: hsl(6, 100%, 80%),
            cl_gradientRight: hsl(335, 100%, 65%), */
    --cl-PaleBlue: hsl(243, 100%, 93%);
    --cl-GrayishBlue: hsl(229, 7%, 55%);
    --cl-DarkBlue: hsl(228, 56%, 26%);
    --cl-VeryDarkBlue: hsl(229, 57%, 11%);
}

/* actual css */
body {
    background: url('../images/bg-mobile.png') center/cover no-repeat;
}

@media (min-width:976px) {
    body {
        background: var(--cl-VeryDarkBlue) url('../images/bg-desktop.png') bottom/contain no-repeat;
        /* background-position: ; */
    }

    /* .float-div {
        clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 83% 80%, 0 80%);
    } */

}

main {
    width: 90vw;
    max-width: 940px;
}

.upload {
    border-radius: 1rem 8rem 1rem 1rem;
}

.document-btn {
    padding: 1rem 1.15rem;
}

.folder-btn {

    padding: 1.1rem 1rem;
}

.upload-btn {
    padding: 1.2rem 1rem;
}

.result-text {
    font-size: .6rem;
}

/* slider */
#slider {
    -webkit-appearance: none;
    padding: .15rem 0;
    border-width: 3px;
    outline: none;
    background: linear-gradient(to right, hsl(6, 100%, 80%),
            hsl(335, 100%, 65%) 81%, var(--cl-VeryDarkBlue) 81%);
    border: 3px solid var(--cl-VeryDarkBlue);
}



#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: 2;
    appearance: none;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    outline: 2px solid hsl(335, 100%, 65%);

}

#slider::-webkit-slider-thumb:hover {
    opacity: .9;
    filter: brightness(110%);
}

#slider::-webkit-slider-thumb:active {
    background-blend-mode: overlay;
    background-color: rgb(3, 150, 150);

}

.float-div::after {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}